---
layout: default
title: 联系方式
description: 简简单单，平平淡淡。
keywords: wqz
isContact: true
comment: true
---

<article class="main-article main-article-page">
    <div class="violet-title">
        <h3 class="violet-title-item">关于我……</h3>
    </div>
    <div class="violet-post">
        <div class="main-article-contant">
            <p>他，浪迹天涯。</p>
            <p>他，只想简简单单，平平淡淡。</p>
            <p>qmail : <a href="mailto:287117900@qq.com" title="Mail to wqz">287117900@qq.com</a></p>
        </div>
    </div>
</article>
<div class="comment">
    {% if site.disqus.config %}
        <div class="comment-cnt">
            <div id="disqus_thread"></div>
        </div>
    {% else %}
        {% if site.duoshuo.config %}
        <div class="comment-cnt">
            <div class="ds-thread" data-thread-key="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-count-type="comments"></div>
        </div>
        {% endif %}
    {% endif %}
</div>
